.container {
    margin: 10px auto; 
    max-width: 90%;
}
/* #searchHistory {
    background-color: brown;
} */
/* .col-xs-4 {
    background-color: brown;
}

.col-sm-3 {
    background-color: brown;
} */